.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 112px;

}
.img{
    width: 1273px;
    height: 551px;
}

.describe{
    display: flex;
    flex-direction: row;
    margin-left: 214px;
    gap: 100px;


}

.title{
    display: flex;
    margin-left: 214px;
    flex-direction: column;
}