.header {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

.buttonsList{
    margin-left: 132px;
    margin-right: 509px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.list_a{
    display: flex;
    gap: 60px;
}

.icons{
    margin-left: 133px;
    display: flex;
    flex-direction: row;
    gap: 25px;
}